# Server
PORT=3000
NODE_ENV=development

# Database (Neon PostgreSQL)
DATABASE_URL=psql 'postgresql://neondb_owner:npg_QZH8zwjJ6rEg@ep-floral-glitter-ahhriqlr-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Redis (Upstash)
REDIS_URL=redis://default:AeoUAAIncDE5Y2FiY2VkZWI4MzI0ZTk0YjZiMmVkN2VhZDliODRjN3AxNTk5MjQ@choice-jawfish-59924.upstash.io:6379

# Firebase (download service account from Firebase Console)
FIREBASE_PROJECT_ID=bakaiti-82de7
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYourKeyHere\n-----END PRIVATE KEY-----\n"

# Cors
ALLOWED_ORIGINS=http://localhost:3000,https://your-app.com
